---
import AnnounceSection from "../components/AnnounceSection.astro";
import Form from "../components/Form.astro";
import InformationSection from "../components/InformationSection.astro";
import LibrarySection from "../components/LibrarySection.astro";
import Layout from "../layouts/Layout.astro";
import "./global.css"
---

<Layout title="Biblioteca OpenSource">
	<AnnounceSection />
	<InformationSection />
	<main id="libros">
		<LibrarySection />
		<Form />

		<section class="table-container">

		</section>
	</main>
</Layout>

<style>
	main {
		margin-top: 90px;
	}
</style>

<script hoist>
	import '../components/handleForm.js';
</script>