---
import AnnounceSection from "../components/AnnounceSection.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import "./global.css"
---

<Layout title="Biblioteca OpenSource">
	<AnnounceSection />
	<main>
		<h2>Libros de programación</h2>
		<ul>
			<li>
				<Card image="/images/java.png" altImage="Libro de Netbeans" title="Libro de Netbeans" />
			</li>
			<li>
				<Card image="/images/javascript.png" altImage="Libro de JavaScript" title="JavaScript para principiantes" />
			</li>
			<li>
				<Card image="/images/php.png" altImage="Libro de PHP" title="JavaScript para PHP" />
			</li>
			<li>
				<Card image="/images/linux.png" altImage="Libro de Linux" title="Sistemas Operativos Linux" />
			</li>
			<li>
				<Card image="/images/docker.png" altImage="Libro de Docker" title="Contenedores" />
			</li>
			<li>
				<Card image="/images/android.png" altImage="Libro de Android" title="Android Tutorial" />
			</li>
		</ul>
	</main>
</Layout>

<style>
	h2 {
		margin: 0 auto;
		text-align: center;
	}

	ul {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 20px;
	}

	li {
		padding: 10px 12px;
		list-style: none;
		background-color: white;
		border: var(--gray) 1px solid;
		border-radius: 3px;
	}
</style>