---
export interface Props {
  title: string;
  image: string;
  altImage: string;
}
const { title, image, altImage } = Astro.props;
---

<div>
  <img src={image} alt={altImage}>
  <p>{title}</p>
  <button>DESCARGAR</button>
</div>

<style>
  div {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  p {
    margin: 0;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
  }

  button {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 12px 10px;
    border-radius: 5px;
    border: none;
  }
</style>