<header>
  <div class="container">
    <h1>BooksOpen</h1>
    <div class="combobox-container">
      <input list="books" class="input" placeholder="Buscar">
      <datalist id="books">
        <option value="Springboot"></option>
        <option value="JavaScript"></option>
        <option value="PHP"></option>
        <option value="Linux"></option>
        <option value="Docker"></option>
        <option value="Android"></option>
        <option value="Rust"></option>
        <option value="Kotlin"></option>
      </datalist>
    </div>
  </div>
</header>

<style>
  header {
    width: 100%;
    padding: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .container {
    width: 100%;
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    margin: 0;
    color: var(--black);
    font-size: 1.75rem;
    font-family: 'Lato Bold', Arial, Helvetica, sans-serif;
  }

  .input {
    width: 100%;
    margin-right: 100px;
    padding: 10px 11px;
    background-color: var(--ligth-gray);
    border: 1px solid var(--gray);
    outline: none;
    border-radius: 4px;
    color: var(--black);
    font-size: 1rem;
  }

  .input::placeholder {
    color: var(--light-black);
  }

  .input:focus {
    border-color: var(--black);
  }

  button {
    padding: 12px 13px;
    background-color: var(--primary-color);
    color: white;
    width: 20%;
    border: none;
    border-radius: 4px;
    font-weight: bold;
  }
</style>