<section>
  <div class="container">
    <ul>
      <li><img src="/icons/tips.svg" alt="">Tips de programación, aprende de los geeks de la programación</li>
      <li><img src="/icons/repository.svg" alt="">Repositorios de apolicaciones en Java</li>
      <li><img src="/icons/clock.svg" alt="">Videos tutoriales aprende a tu ritmo</li>
    </ul>
  </div>
</section>

<style>
  section {
    width: 100%;
    margin-top: 40px;
  }

  .container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    border-radius: 12px;
  }

  ul {
    padding: 0;
    display: flex;
    align-items: stretch;
    gap: 1.25rem;
  }

  li {
    width: 100%;
    list-style: none;
    color: var(--white);
    padding: 30px 33px;
    text-align: center;
    line-height: 27px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--primary-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  img {
    vertical-align: top;
    filter: invert(96%) sepia(7%) saturate(1480%) hue-rotate(296deg) brightness(106%) contrast(108%);
    height: 40px;
  }
</style>